# ==============================================================================
# Database (PostgreSQL) Configuration
# ==============================================================================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=prm_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
